.getStarted {
    display: flex;
    .getStartedContainer {
        flex: 6;
        padding-left: 15vw;
        .getStartedTitle {
            margin: 20px;
            width: 100%;
            font-size: 24px;
            color: gray;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
        }
        .heading{
            margin: 20px;
            margin-top: 500px;
            width: 100%;
            font-size: 24px;
            color: gray;
            margin-bottom: 10;
            display: flex;
            justify-content: center;
        }
    }
}