.postHeading {
    display: flex;
    margin: 10px 0 10px 20px;
    font-size: 24px;
    color: gray;
}

.postContent{
    display: flex;

    .leftCol{
        padding-left: 20px;
        display: flex;
        flex: 1;
    }
    .rightCol{
        padding-left: 20px;
        display: flex;
        flex: 1;
    }
}