.projects {
    display: flex;
    width: 100%;
    margin-top: 50px;
    .listContainer {
        flex: 6;
        padding-left: 15vw;
        .spinner {
            height: 650px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .projects{
        .listContainer {
            padding-left: 0;
            width: 100vw;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
}