.notFound{
    .notFoundContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 65px;
        margin-left: 15vw;
        .notFoundHeader{
            font-size: 96px;
        }
        .notFoundTxt{
            font-size: 48px;
        }
    }
}

@media screen and (max-width: 768px){
    .notFound{
        width: 100vw;
        max-width: 100%;
        .notFoundContainer{
            margin-left: 0;
            .notFoundTxt{
                text-align: center;
            }
        }
    }
}